(
    shape_gen: (
        radius: 1.0,
        sea_level: 1.0,
        num_layers: 6,
        noise_layers: [
            (
                filter: (
                    noise_seed: 0,
                    ty: Standard,
                    num_octaves: 5,
                    strength: 0.2,
                    roughness: 0.82,
                    lacunarity: 2.85,
                    persistence: 0.15,
                    offset: 0.15,
                    floor: 0.0,
                    center: (0.0, 4.48, 0.0),
                    warp_offset: (0.0, 100.0, -100.0),
                ),
                is_warp: false,
                warp_target: 1,
                first_layer_mask: false,
                enabled: true,
            ),
            (
                filter: (
                    noise_seed: 2,
                    ty: Standard,
                    num_octaves: 5,
                    strength: 0.002,
                    roughness: 16.75,
                    lacunarity: 5.22,
                    persistence: 0.13,
                    offset: 0.0,
                    floor: 0.0,
                    center: (0.0, 0.0, 0.0),
                    warp_offset: (0.0, 100.0, -100.0),
                ),
                is_warp: false,
                warp_target: 1,
                first_layer_mask: false,
                enabled: true,
            ),
            (
                filter: (
                    noise_seed: 3,
                    ty: Standard,
                    num_octaves: 6,
                    strength: 0.58,
                    roughness: 6.75,
                    lacunarity: 2.0,
                    persistence: 0.3,
                    offset: 0.0,
                    floor: 0.0,
                    center: (12.62, 0.0, 0.0),
                    warp_offset: (0.0, 100.0, -100.0),
                ),
                is_warp: false,
                warp_target: 1,
                first_layer_mask: true,
                enabled: true,
            ),
            (
                filter: (
                    noise_seed: 4,
                    ty: Rigid,
                    num_octaves: 5,
                    strength: 0.05,
                    roughness: 1.32,
                    lacunarity: 2.75,
                    persistence: 0.41,
                    offset: 0.0,
                    floor: 0.0,
                    center: (2.57, 5.2, 0.0),
                    warp_offset: (0.0, 100.0, -100.0),
                ),
                is_warp: false,
                warp_target: 1,
                first_layer_mask: false,
                enabled: true,
            ),
            (
                filter: (
                    noise_seed: 5,
                    ty: Warp,
                    num_octaves: 2,
                    strength: 0.8,
                    roughness: 0.5,
                    lacunarity: 2.0,
                    persistence: 0.5,
                    offset: 0.0,
                    floor: 0.0,
                    center: (1.53, 1.31, 0.0),
                    warp_offset: (0.0, 100.0, 50.0),
                ),
                is_warp: true,
                warp_target: 4,
                first_layer_mask: false,
                enabled: true,
            ),
            (
                filter: (
                    noise_seed: 6,
                    ty: Warp,
                    num_octaves: 2,
                    strength: 1.27,
                    roughness: 0.07,
                    lacunarity: 2.61,
                    persistence: 0.87,
                    offset: 0.0,
                    floor: 0.0,
                    center: (0.0, 0.0, 0.0),
                    warp_offset: (0.0, 100.0, 0.0),
                ),
                is_warp: true,
                warp_target: 1,
                first_layer_mask: false,
                enabled: true,
            ),
        ],
    ),
    colors: (
        num_colors: 6,
        colors: (
            key_points: [
                (0.0, 0.0, (0.42008257, 0.12075132, 0.6598486), true),
                (0.53, 0.21, (0.095368214, 0.0, 0.170253), true),
                (0.12, 0.37, (0.06008471, 0.0027326236, 0.2129066), true),
                (0.71, 0.5, (0.23130333, 0.01912745, 0.015514881), true),
                (0.0, 0.32, (0.07234011, 0.0, 0.374664), true),
                (0.8, 0.35, (0.07082197, 0.0, 0.019436536), true),
            ],
        ),
    ),
    settings: (
        planet_resolution: 128,
        light_euler_rot: (0.0, 0.0, 0.0),
        ocean_radius: 1.0,
        ocean_depth_mul: 21.55,
        ocean_alpha_mul: 52.95,
        ocean_smoothness: 0.85,
        ocean_color_1: (0.0, 0.08859856, 0.37480715),
        ocean_color_2: (0.0, 1.0, 0.9793527),
    ),
)